:root {
  --bg: #241010;
  --bg-gradient-center: #161013;

  --card-bg: #2b1515e7;
  --card-bg-hover: #381d1d;
  --card-border: #4a2a2a;

  --surface: #1a0f0f;
  --surface-hover: #241515;

  --primary: #ff6a00;
  --primary-red: #ff4500;
  --primary-gold: #ffd700;

  --text: #ffffff;
  --text-secondary: #9ca3af;
  --text-main: #c4c4c4;

  --border: #2e1b1b;
  
  --fire-glow: 0 0 15px -3px rgba(255, 106, 0, 0.4), 0 0 6px -2px rgba(255, 215, 0, 0.3);
  --fire-glow-hover: 0 0 25px rgba(255, 69, 0, 0.6), 0 0 10px rgba(255, 215, 0, 0.4);
}

html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
#root {
  min-height: 100%;
}

  #root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}


body {
  background: radial-gradient(circle at center, var(--bg-gradient-center) 0%, var(--bg) 100%);
  background-size: 100% 100%, 40px 40px;
  background-image: 
    radial-gradient(circle at center, var(--bg-gradient-center) 0%, var(--bg) 100%),
    linear-gradient(to right, rgba(255, 255, 255, 0.015) 1px, transparent 1px),
    linear-gradient(to bottom, rgba(255, 255, 255, 0.015) 1px, transparent 1px);
  
  color: var(--text);
  font-family: Inter, Arial, sans-serif;
  position: relative;
}

